html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --title-text-color:#000000;
    --acent-text-color: #222222;
    --primery-text-color: #555555;
    --buton-color: #3771C8;
    --primary-bc-color: #E5E5E5;
    --title-font-weight: 600;
    --title-font-size: 40px;

}

body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.75;
    color: var(--primery-text-color);
    margin: 0;
    padding: 40px 80px;
}

/* Шапка сайта */
.container {
    width: 1286px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
}

.site-nav.container {
    display: flex;
    align-items: center;          
    margin-bottom: 100px;
    width: 1280px;   
}

.logo {
    margin-right: 512px;
}

.logo img {
    margin: 0;
}

.nav-list {  
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    margin-right: 108px;
}

.nav-list .item:not(:last-child) {
    margin-right: 40px;
}

.nav-link {
    display: block;
    text-decoration: none;
    color: var(--acent-text-color);
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1.5;

}

.nav-link:hover,
.nav-link:focus,
.footer-link:hover,
.footer-link:focus {
    color: #3771C8;
    text-decoration: underline;
}

.nav-bt {
    display: block;
    border: 1px solid #999999;
    padding: 10px 23px;
    border-radius: 35px;   
    font-family: inherit;
    color: #100F2E;
    font-weight: 600;
    font-size: 14px;
    line-height:1.43;   
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.nav-bt:hover,
.nav-bt:focus {
    color: #ffffff;
    background-color: var(--buton-color);
    cursor: pointer;

}

/* Герой */

.hero-title {
    color: var(--title-text-color);
    font-weight:var(--title-font-weight);
    font-size: 60px;
    line-height: 1.33;
    margin: 0;
    margin-bottom: 30px;
}

.hero-text {
    width: 476px;
    margin-bottom: 40px;
}

.hero-text p {
    font-size: 20px;
    line-height:1.6;
    margin: 0;
}

.hero-list
 {
    list-style: none;
    padding: 0;
    margin: 0;
}



.hero-item.container {
    position: relative;    
    color: #ffffff;
    margin-right: 15px;
}

.hero-text-img {
    margin: 0;
    position: absolute;
    bottom: 51px;
    left: 184px;   
    font-weight: 600;
    font-size: 48px;
    line-height: 1.25;
    
}

.foto {
    display: flex;
}

.hero-img,
.about img {
    display: block;
    border-radius: 16px;
    
}

.hero-img.first {
    padding-bottom: 15px;
}

/* Сервіс */

.service-title {
    margin: 0;
    font-weight: var(--title-font-weight);
    font-size: var(--title-font-size);
    line-height: 1.25;
    color: var(--title-text-color);
    margin-bottom: 16px;
    
}


.service-text p{
   margin: 0;
}

.service-text {
    width: 561px;
}

.service-bt {
    display: block;
    border: none;
    padding: 3px 25px;
    font-family:inherit;    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: var(--buton-color);
    background-color: #ffffff;
    border-bottom: 1px double #F9D15C;      
}

.facilities {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 41px;
}

.service-list {
    list-style: none;
    display: flex;
    padding: 0;
}


.service-item {
    
    text-align: center;
    padding: 36px 15px 47px 15px;
    width: 308px;
}

.service-item:not(:last-child) {
    margin-right: 18px;

}

.facilities-title{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: var(--acent-text-color);
    margin: 0;
    margin-bottom: 12px;
    margin-top: 42px;
}

.service-item p {
    margin: 0;
}

/* Про нас */

.about.container {
    margin-bottom: 100px;
} 


.about-title {
    margin: 0;
    font-weight: var(--title-font-weight);
    font-size: var(--title-font-size);
    line-height: 1.25;
    color: var(--acent-text-color);
    margin-bottom: 20px;
}

.about-item h3 {
    margin: 0;
    font-size: 30px;
    line-height: 1.53;
    color: var(--acent-text-color);
    margin-bottom: 16px;
   
    
}

.about-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
}

.about-item:not(:last-child) {
    margin-right: 60px;
}
.about p {
    margin: 0;
    margin-bottom: 40px;
}

.about {
    display: flex;
}

.about div {
    margin-left: 60px;
    margin-right: 12px;
}

.about-link {
    font-family: inherit;
    text-decoration: none;
    color: #ffffff;
    background-color: var(--buton-color);
    padding: 16px 32px;
    font-weight: 600;    
    line-height: 1.5;
    border-radius: 8px;
}

/* Партнери */

.partners.container {
    width: 1110px;
    margin-bottom: 100px;
}

.partners-title {   
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;       
}

.partners-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

.partners-item:not(:last-child) {
    margin-right: 90px;
}

.partners-item img{
    display: block;
}

.reviews.container {
    width: 1280px;
}

.reviews>img {
    display: block;
    border-radius: 12px 0px 0px 12px;
}

.name-women {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 2;
    margin-bottom: 23px;
}

.review-text {
    margin: 0;
    font-style: italic;
    font-weight: 300;
    font-size: 30px;
    line-height: 1.2;
    color: var(--acent-text-color);
}

.reviews>div {
   
    background-color: #F9D15C;
    border-radius: 0px 12px 12px 0px;
    text-align: center;
    padding-top: 42px;
    padding-left: 71px;
    padding-right: 71px;    
}

.reviews {
    display: flex;  
}

.hotels.container {
    width: 1280px;
}

.hotels-title {
    margin: 0 0 20px 0;
    font-weight: var(--title-font-weight);
    font-size: var(--title-font-size);
    line-height: 1.5;
    color: var(--title-text-color);
    
}

.hotels-text {
    margin: 0 0 20px 0;
    width: 409px;
}

.star-list {
    
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 0 40px 0;
}



.star-bt {
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    color: var(--primery-text-color);
    padding: 8px 28px;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
}

.star-bt:hover,
.star-bt:focus{
    color: var(--acent-text-color);
    border: 1px solid #222222;
    cursor: pointer;
}



.star-iteam:not(:first-child,:last-child) {
    margin-left: 40px;
}

.star-iteam:last-child {
   margin-left: 496px;
}

.hotels-list {
    list-style: none;
    padding: 0;
    margin: 0;

}

.hotel-img {
    border-radius: 16px 16px 0px 0px;
    margin-bottom: 20px;
}

.hotels-iteam>h3 {
    font-weight: var(--title-font-weight);
    font-size: 20px;
    line-height: 1.5;
    color: var(--acent-text-color);
    margin: 0 0 8px 20px;
}
 .hotel-text {
    font-size: 14px;
    line-height: 1.71;
    margin-top: 0;
    margin-bottom: 27px;
    margin: 0 53px 27px 20px; 
 }

.price {
    line-height: 1.5;
    margin: 0;
}


 .price span{
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    color: var(--buton-color);
}

.hotels-bt {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.43;
    color: #FFFFFF;
    background-color: var(--buton-color);
    padding: 5px 15px;
    border-radius: 4px;

}

.hotels-bt:focus,
.hotels-bt:hover,
.about-link:hover,
.about-link:focus {
    color: var(--buton-color);
    background-color: var(--primary-bc-color);
}

.hotels-iteam>div {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 20px 20px;
    flex-grow: 1;
}

.hotels-list {
    display: flex;   
}

.hotels-iteam {
    border: 1px solid #E8E8E8;
    border-radius: 16px;
}

.hotels-iteam:not(:last-child) {
    margin-right: 18px;
}

.subscription.container {
    width: 1280px;
    background-color: #EAECEB;
    border-radius: 16px;
    display: flex;

}

.subscription_title {
    font-weight: var(--title-font-weight);
    font-size: var(--title-font-size);
    line-height: 1.25;
    color: var(--acent-text-color);
    margin: 0 0 20px 0;
}

.subscription_text {
    margin: 0 0 92px 0;
    width: 536px;
}

.subscription-img {
    border-radius: 0px 12px 12px 0px; 
}

.subscription div {
    margin: 60px 122px 0 74px;
}

.site-footer.container {
    width: 1062px;
}

.logo-inner {
    width: 264px;
    margin-right: 166px;
}

.footer-text {
    margin-bottom: 0;
    margin-top: 24px;
}

.site-footer {
    display: flex;
}

.footer-nav {
    display: flex;
}

.footer-nav-list, .footer-navigation_list, .app-list {
    list-style: none;
    padding: 0;
    margin: 0;
    

}

.footer-link {
    font-family: inherit;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--acent-text-color)
}

 


.app-title {
    margin: 0;
    margin-bottom: 24px;
}

.app-title, .title {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.33;
    color:var(--acent-text-color);
    margin-bottom: 24px;
}

.footer-navigation_list li:first-child,
.footer-nav-list li:first-child {
    margin-bottom: 24px;
}

.footer-nav ul {
    margin-right: 165px;
}

.footer-navigation_list li:nth-child(n+2),
.footer-nav-list li:nth-child(n+2) {
    margin-bottom: 16px;
}

.app-list li {
    margin-bottom: 16px;
}